body{
    margin:0;
    padding:0;
    /* background:grey; */
    overflow: hidden;
    background-image: url("blue2.png");
    background-size: 100% 400px;
    background-repeat: no-repeat;
    background-position: 0 -80%;
    background-color: #135148;

    

}

.eyes{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-70%);
}

.eye{
    width: 180px;
    height: 150px;

    background: #2e245e;
    display: inline-block;
    margin:6%;
    position: relative;
    overflow: hidden;
    background-image: url("sky3.jpg");

   
}

#eyeLeft{
    
    border-radius: 0 75% 5px 70%;
    transform: rotate(-10deg);
}

#eyeRight{
    border-radius: 75% 0 70% 5px;
    transform: rotate(10deg);
}

.irisContain{
    position: absolute;
    width: 130px;
    height: 120px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: -999;



}

.iris{
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    /* box-shadow: 5px 5px white outset; */

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: 0.4s all;

}

.eyelid{
    width: 300px;
    height: 200px;
    z-index:998;
    transform: translateX(-10%);
}

.eyelid span{
    display: block;
    width:100%;
    height:100%;
    /* background-color:#e18868; */
     /* background-color: #135148; */
    background-color: #135148;
    border-radius: 0 0 60% 60%;
    transition: 1s all;
    z-index:999;


}

/* #lidLeft span{
    transform: rotate(30deg);

}

#lidRight span{
    transform: rotate(-30deg);

} */


  .cloudLeft{
      position: absolute;
      top: 5px;
      left:-30%;
      transition: 7s all;
      background-size: 100%;

  }

  .cloudRight{

    position: absolute;
    top: 5px;
    left:130%;
    transition: 7s all;
    background-size: 100%;

}


  .game-play{
      display:none;
  }



  .you-lost{
    height: 40%;
    width: 50%;
    /* background-color: aliceblue; */
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: rgba(240, 240, 240, 0.7);
    z-index:100;
    text-align: center;
    display: none;
  }
  /* outsourced */

  .btn {
    background: #428bca;
    border: #357ebd solid 0px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
  }
  .btn:hover {
    background: #357ebd;
  }
  .btn.btn-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
  }
  .btn-close {
    color: #aaaaaa;
    font-size: 20px;
    text-decoration: none;
    padding:10px;
    position: absolute;
    right: 7px;
    top: 0;
  }
  .btn-close:hover {
    color: #919191;
  }
  .modale:before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .opened:before {
    display: block;
  }
  .opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
    transform: translateX(-20%);

  }
  .modal-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    text-align:center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 700px;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  .modal-body {
    padding: 20px;
  }
  .modal-body input{
    width:200px;
    padding:8px;
    border:1px solid #ddd;
    color:#888;
    outline:0;
    font-size:14px;
    font-weight:bold
  }
  .modal-header,
  .modal-footer {
    padding: 10px 20px;
  }
  .modal-header {
    border-bottom: #eeeeee solid 1px;
  }
  .modal-header h2 {
    font-size: 20px;
  }

  /* end of outsourced section */
  .game-play{
    display:none;
    border-radius: 10px;
    overflow: hidden;
    widows: 220px;
    height: 40px;
    margin: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.score{
    width: 100px;
    height:40px;
    background-color: rgba(240, 240, 240, 0.7);
    float: left;
    text-align: center;
    font-size: 22px;
    padding-top: 6px;
}
.caught{
    width: 120px;
    height:40px;
    background-color: rgba(235, 46, 46, 0.7);
    float: left;
    color:white;
    text-align: center;
    font-size: 22px;
    padding-top: 6px;
}
